/* CSS reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Custom CSS */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #f5f5f5;
	color: #111111;
}

.container {
  min-width: 14rem;
  max-width: 34rem;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.full-width {
  width: 100%;
}

@media (min-width: 48rem) {
  .container {
    padding-right: 0;
    padding-left: 0;
  }
}